/* 
	# Footer
/*--------------------------------------------------------------*/

footer#footer-cactus {
   font-size: 14px;
   background: #a1a1a1;
   padding: 10px;
   text-align: center;
   color: #fff;
}